doctype true
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    title Empty Template
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // <![endif]
    style#media-query(type='text/css').
      body {
      margin: 0;
      padding: 0; }
      table, tr, td {
      vertical-align: top;
      border-collapse: collapse; }
      .ie-browser table, .mso-container table {
      table-layout: fixed; }
      * {
      line-height: inherit; }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important; }
      [owa] .img-container div, [owa] .img-container button {
      display: block !important; }
      [owa] .fullwidth button {
      width: 100% !important; }
      [owa] .block-grid .col {
      display: table-cell;
      float: none !important;
      vertical-align: top; }
      .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
      width: 525px !important; }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%; }
      .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
      width: 172px !important; }
      .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
      width: 344px !important; }
      .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
      width: 262px !important; }
      .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
      width: 175px !important; }
      .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
      width: 131px !important; }
      .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
      width: 105px !important; }
      .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
      width: 87px !important; }
      .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
      width: 75px !important; }
      .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
      width: 65px !important; }
      .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
      width: 58px !important; }
      .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
      width: 52px !important; }
      .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
      width: 47px !important; }
      .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
      width: 43px !important; }
      @media only screen and (min-width: 545px) {
      .block-grid {
      width: 525px !important; }
      .block-grid .col {
      display: table-cell;
      Float: none !important;
      vertical-align: top; }
      .block-grid .col.num12 {
      width: 525px !important; }
      .block-grid.mixed-two-up .col.num4 {
      width: 172px !important; }
      .block-grid.mixed-two-up .col.num8 {
      width: 344px !important; }
      .block-grid.two-up .col {
      width: 262px !important; }
      .block-grid.three-up .col {
      width: 175px !important; }
      .block-grid.four-up .col {
      width: 131px !important; }
      .block-grid.five-up .col {
      width: 105px !important; }
      .block-grid.six-up .col {
      width: 87px !important; }
      .block-grid.seven-up .col {
      width: 75px !important; }
      .block-grid.eight-up .col {
      width: 65px !important; }
      .block-grid.nine-up .col {
      width: 58px !important; }
      .block-grid.ten-up .col {
      width: 52px !important; }
      .block-grid.eleven-up .col {
      width: 47px !important; }
      .block-grid.twelve-up .col {
      width: 43px !important; } }
      @media (max-width: 545px) {
      .block-grid, .col {
      min-width: 320px !important;
      max-width: 100% !important; }
      .block-grid {
      width: calc(100% - 40px) !important; }
      .col {
      width: 100% !important; }
      .col > div {
      margin: 0 auto; }
      img.fullwidth {
      max-width: 100% !important; } }
  body.clean-body(style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF')
    - var comments = comments1
    - var name = name1
    - var phone_number = phone_number1
    - var email_address = email_address1
    //if IE
      .ie-browser
    //if mso
      .mso-container
    .nl-container(style='min-width: 320px;Margin: 0 auto;background-color: #FFFFFF')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tr
            td(align='center', style='background-color: #FFFFFF;')
      div(style='background-color:transparent;')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 525px;width: 525px;width: calc(21500% - 116650px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            //if (mso)|(IE)
              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tr
                  td(style='background-color:transparent;', align='center')
                    table(cellpadding='0', cellspacing='0', border='0', style='width: 525px;')
                      tr.layout-full-width(style='background-color:transparent;')
            //if (mso)|(IE)
              td(align='center', width='525', style=' width:525px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;', valign='top')
            .col.num12(style='min-width: 320px;max-width: 525px;width: 525px;width: calc(20500% - 107100px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                // [if (!mso)&(!IE)] <!
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  // <![endif]
                  .img-container.center.fullwidth(align='center', style='padding-right: 0px;  padding-left: 0px;')
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tr
                          td(style='padding-right: 0px; padding-left: 0px;', align='center')
                    a(href='http://www.opiniion.com', target='_blank')
                      img.center.fullwidth(align='center', border='0', src='https://s3-us-west-2.amazonaws.com/opiniion/images/logos/logo-opiniion-grayteal-transparent-background-01.png', alt='Opiniion', title='Opiniion', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 525px', width='525')
                    //if mso
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                  div(style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;")
                    div
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 16px; line-height: 19px;') A customer has sent you a private review. 
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 16px; line-height: 19px;') Please see below for details:
                  //if mso
                  div(style="font-size: 16px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;")
                    table(cellpadding='0', cellspacing='0', width='100%', style='border-collapse: \
                    collapse; border-spacing: 0; vertical-align: top')
                      tbody
                        tr(style='vertical-align: top')
                          td(style="border-collapse: collapse \
                          !important; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, \
                          sans-serif; font-size: 16px; vertical-align: top; word-break: break-word", valign='top')
                            br
                            .our-class
                              table(style='border: 1px solid \
                              rgb(136, 136, 136); border-collapse: collapse; background-position: initial \
                              initial; background-repeat: initial initial;', bgcolor='#fff')
                                tbody
                                  tr
                                    th(colspan='2', style='background-color: rgb(84, 84, 84); color: rgb(255, \
                                    255, 255); padding: 5px; background-position: initial initial; \
                                    background-repeat: initial initial;', align='middle')
                                      h4(style='margin-top: 0px; margin-bottom: 0px;') Customer Feedback
                                  tr
                                    th(style='background: #DDE0E1; border: 1px solid \
                                    #999999; padding: 5px 10px 5px 5px', width='120', valign='top', align='right')
                                      strong Comments
                                    td(style='background: \
                                    #ffffff; border: 1px solid #999999; padding: 5px', width='400', valign='top', bgcolor='#ffffff') #{comments}
                                  tr
                                    th(style='background: #DDE0E1; border: 1px solid #999999; padding: 5px 10px \
                                    5px 5px', width='120', valign='top', align='right')
                                      strong Name
                                    td(style='background: #ffffff; \
                                    border: 1px solid #999999; padding: 5px', width='400', valign='top', bgcolor='#ffffff') #{name}
                                  tr
                                    th(style='background: #DDE0E1; border: \
                                    1px solid #999999; padding: 5px 10px 5px 5px', width='120', valign='top', align='right')
                                      strong Email Address
                                    td(style='background: #ffffff; border: 1px solid #999999; padding: 5px', width='400', valign='top', bgcolor='#ffffff') #{email_address}
                                  tr
                                    th(style='background: \
                                    #DDE0E1; border: 1px solid #999999; padding: 5px 10px 5px 5px', width='120', valign='top', align='right')
                                      strong Phone Number
                                    td(style='background: \
                                    #ffffff; border: 1px solid #999999; padding: 5px', width='400', valign='top', bgcolor='#ffffff') #{phone_number}
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 10px;')
                  div(style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 10px;")
                    div
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 16px; line-height: 19px;') What To Do Next:
                  //if mso
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                  div(style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;line-height:180%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;")
                    div
                      p(style='margin: 0;font-size: 12px;line-height: 22px;text-align: center')
                        | If you know who this is through contact information or the review description, we recommend reaching out to the customer as soon as possible. They've submitted this feedback directly to you, but there is still the possibility that they could post their negative review online. Strike first to resolve their issues privately.
                      p(style='margin: 0;font-size: 12px;line-height: 22px;text-align: center')
                        br
                      p(style='margin: 0;font-size: 12px;line-height: 22px;text-align: center')
                        | If you don't know who this is, do what you can to resolve the problem on your end. Keep an eye on all review mediums, and be prepared to respond if they happen to take their feedback public.
                      p(style='margin: 0;font-size: 12px;line-height: 22px;text-align: center')
                        br
                  //if mso
                  // [if (!mso)&(!IE)] <!
                // <![endif]
            //if (mso)|(IE)
      div(style='background-color:#707070;')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 525px;width: 525px;width: calc(21500% - 116650px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            //if (mso)|(IE)
              table(width='100%', cellpadding='0', cellspacing='0', border='0')
                tr
                  td(style='background-color:#707070;', align='center')
                    table(cellpadding='0', cellspacing='0', border='0', style='width: 525px;')
                      tr.layout-full-width(style='background-color:transparent;')
            //if (mso)|(IE)
              td(align='center', width='525', style=' width:525px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;', valign='top')
            .col.num12(style='min-width: 320px;max-width: 525px;width: 525px;width: calc(20500% - 107100px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                // [if (!mso)&(!IE)] <!
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  // <![endif]
                  //if mso
                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                      tr
                        td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                  div(style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#a9a9a9;line-height:150%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;")
                    div
                      p(style='margin: 0;font-size: 12px;line-height: 18px;text-align: center') This email was sent by Opiniion
                      p(style='margin: 0;font-size: 12px;line-height: 18px;text-align: center') Copyright 2017, Opiniion All Rights Reserved
                  //if mso
                  // [if (!mso)&(!IE)] <!
                // <![endif]
            //if (mso)|(IE)
      //if (mso)|(IE)
    //if (mso)|(IE)
