doctype html
html(style='margin: 0;padding: 0;')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    title Opiniion Email Template
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    style(type='text/css').
      body {
      margin: 0;
      padding: 0; }
      table, tr, td {
      vertical-align: top;
      border-collapse: collapse; }
      .ie-browser table, .mso-container table {
      table-layout: fixed; }
      * {
      line-height: inherit; }
      a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important; }
      [owa] .img-container div, [owa] .img-container button {
      display: block !important; }
      [owa] .fullwidth button {
      width: 100% !important; }
      .ie-browser .col, [owa] .block-grid .col {
      display: table-cell;
      float: none !important;
      vertical-align: top; }
      .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
      width: 550px !important; }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%; }
      .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
      width: 180px !important; }
      .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
      width: 360px !important; }
      .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
      width: 275px !important; }
      .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
      width: 183px !important; }
      .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
      width: 137px !important; }
      .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
      width: 110px !important; }
      .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
      width: 91px !important; }
      .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
      width: 78px !important; }
      .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
      width: 68px !important; }
      .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
      width: 61px !important; }
      .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
      width: 55px !important; }
      .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
      width: 50px !important; }
      .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
      width: 45px !important; }
      @media only screen and (min-width: 570px) {
      .block-grid {
      width: 550px !important; }
      .block-grid .col {
      display: table-cell;
      Float: none !important;
      vertical-align: top; }
      .block-grid .col.num12 {
      width: 550px !important; }
      .block-grid.mixed-two-up .col.num4 {
      width: 180px !important; }
      .block-grid.mixed-two-up .col.num8 {
      width: 360px !important; }
      .block-grid.two-up .col {
      width: 275px !important; }
      .block-grid.three-up .col {
      width: 183px !important; }
      .block-grid.four-up .col {
      width: 137px !important; }
      .block-grid.five-up .col {
      width: 110px !important; }
      .block-grid.six-up .col {
      width: 91px !important; }
      .block-grid.seven-up .col {
      width: 78px !important; }
      .block-grid.eight-up .col {
      width: 68px !important; }
      .block-grid.nine-up .col {
      width: 61px !important; }
      .block-grid.ten-up .col {
      width: 55px !important; }
      .block-grid.eleven-up .col {
      width: 50px !important; }
      .block-grid.twelve-up .col {
      width: 45px !important; } }
      @media (max-width: 570px) {
      .block-grid, .col {
      min-width: 320px !important;
      max-width: 100% !important; }
      .block-grid {
      width: calc(100% - 40px) !important; }
      .col {
      width: 100% !important; }
      .col > div {
      margin: 0 auto; }
      img.fullwidth {
      max-width: 100% !important; } }
  body.clean-body(style='margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF')
    - var source = source1
    - var r1 = url1
    - var r2 = url2
    - var r3 = url3
    - var r4 = url4
    - var r5 = url5
    - var feedurl = feedurl1
    - var logoimage = logoimage1
    - var buttoncolor = buttoncolor1
    - var companyname = companyname1
    - var footercolor = footercolor1
    .nl-container(style='min-width: 320px;Margin: 0 auto;background-color: #FFFFFF')
      div(style='background-color:#FFFFFF;')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 550px;width: 550px;width: calc(24000% - 136250px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            .col.num12(style='min-width: 320px;max-width: 550px;width: 550px;width: calc(23000% - 125950px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  .img-container.center.fullwidth(align='center', style='padding-right: 0px;  padding-left: 0px;')
                    img.center.fullwidth(align='center', border='0', src="cid:"+logoimage, alt=companyname, title='', style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 350px', width='350')
          div(style='padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 15px;')
            div(style='font-size:12px;line-height:24px;font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#59655C;text-align:left;')
              p(style='margin: 0;font-size: 14px;text-align: center')
                span(style='font-size: 14px; line-height: 24px;') #{source}
                  br
            div(style="font-size: 14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;padding-top: 25px;")
              meta
              style.
                .button-table tr:first-child td{
                border-top: 1px solid #e9dddd;
                border-bottom: 1px solid #e9dddd;
                padding: 5px 6px;
                }
                .button-table tr:first-child td div{
                transition: .5s ease all;
                }
                @media(max-width: 639px){
                .button-table tr td{
                min-width:  65px !important;
                min-height: 85px !important;
                }
                .button-table tr td div{
                height: 65px !important;
                width: 85px !important;
                }
                }
                @media(max-width: 480px){
                .button-table tr.text-row{
                font-size: 12px !important;
                }
                .button-table tr td{
                padding: 4px 2px !important;
                }
                }
                @media(max-width: 360px){
                .button-table tr td{
                min-width:  55px !important;
                min-height: 55px !important;
                }
                .button-table tr td div{
                height: 55px !important;
                width: 65px !important;
                }
                }
              table.button-table(style='border-collapse: collapse; ')
                tbody
                  tr(style='text-align:center; color:#ffffff; font-size:30px; font-weight:600;')
                    td(style='min-height:80px;min-width:100px;')
                      a(href=r1, style='color:#ffffff; text-decoration:none;')
                        div(style='width:50px; background:'+buttoncolor+';vertical-align:middle; border-radius:3px; display:table-cell;height:60px;padding:20px')
                          | 1
                    td(style='min-height:80px;min-width:100px;')
                      a(href=r2, style='color:#ffffff; text-decoration:none;')
                        div(style='width:50px; background:'+buttoncolor+';vertical-align:middle; border-radius:3px; display:table-cell;height:60px;padding:20px')
                          | 2
                    td(style='min-height:80px;min-width:100px;')
                      a(href=r3, style='color:#ffffff; text-decoration:none;')
                        div(style='width:50px; background:'+buttoncolor+';vertical-align:middle; border-radius:3px; display:table-cell;height:60px;padding:20px')
                          | 3
                    td(style='min-height:80px;min-width:100px;')
                      a(href=r4, style='color:#ffffff; text-decoration:none;')
                        div(style='width:50px; background:'+buttoncolor+';vertical-align:middle; border-radius:3px; display:table-cell;height:60px;padding:20px')
                          | 4
                    td(style='min-height:80px;min-width:100px;')
                      a(href=r5, style='color:#ffffff; text-decoration:none;')
                        div(style='width:50px; background:'+buttoncolor+';vertical-align:middle; border-radius:3px; display:table-cell;height:60px;padding:20px')
                          | 5
                  tr.text-row(style='text-align:center; color:#707070; font-size:14px;')
                    td(style='min-height:80px;min-width:100px;') Terrible
                    td(style='min-height:80px;min-width:100px;')
                    td(style='min-height:80px;min-width:100px;')
                    td(style='min-height:80px;min-width:100px;')
                    td(style='min-height:80px;min-width:100px;') Excellent
      div(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
        div(style="font-size:12px;line-height:14px;color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align:left;")
      div(style='background:'+footercolor +';')
        .block-grid(style='Margin: 0 auto;min-width: 320px;max-width: 550px;width: 550px;width: calc(24000% - 136250px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
          div(style='border-collapse: collapse;display: table;width: 100%;')
            .col.num12(style='min-width: 320px;max-width: 550px;width: 550px;width: calc(23000% - 125950px);background-color: transparent;')
              div(style='background-color: transparent; width: 100% !important;')
                div(style='border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                  div(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;')
                    div(style='font-size:12px;line-height:14px;font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#a9a9a9;text-align:left;')
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 10px; line-height: 12px;') This email was sent on behalf of #{companyname} by Opiniion LLC
                      p(style='margin: 0;font-size: 12px;line-height: 14px;text-align: center')
                        span(style='font-size: 10px; line-height: 12px;') Copyright 2017, Opiniion LLC All Rights Reserved

